.text_cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.text_cont p,
.text_cont li {
  color: #757575;
  margin: 0;
  margin-bottom: 2rem;
  font-size: 1.23rem;
}

.text_cont li {
  list-style-type: disc;
}
.boldP {
  margin-bottom: 2rem;
}

.text_cont h1 {
  color: #353f4f;
  font-size: 3.5rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

.text_cont h2 {
  color: #353f4f;
  font-weight: 600;
  margin-bottom: 2rem;
}
