.text_cont {
  font-family: "Plus Jakarta Sans", sans-serif;
  width: 100%;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.text_cont h1 {
  font-size: 4rem;
  font-weight: 700;
  color: #353f4f;
  text-align: center;
}

.text_cont p {
  font-size: 1.5rem;
  color: #757575;
  text-align: center;
}
